<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AUO Toggle</title>
        <link rel="stylesheet" href="/dist/main.min.css" />
        <style>
            .title {
                margin-bottom: 16px;
                letter-spacing: -0.02em;
                line-height: 32px;
                font-size: 24px;
                font-weight: 900;
            }
        </style>
    </head>
    <body class="p-40">
        <div class="switch switch-success switch-off">
            <div class="switch-thumb switch-thumb-off"></div>
            <label class="switch-label switch-label-off">off</label>
        </div>

        <div class="switch switch-success switch-on">
            <div class="switch-thumb switch-thumb-on"></div>
            <label class="switch-label switch-label-on">on</label>
        </div>
    </body>
</html>
