<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AUO Avatar</title>
        <link rel="stylesheet" href="/dist/all.min.css" />
        <style>
            .title {
                margin-bottom: 16px;
                letter-spacing: -0.02em;
                line-height: 32px;
                font-size: 24px;
                font-weight: 900;
            }
        </style>
    </head>
    <body class="p-40">
        <!-- [Avatar] - shapes -->
        <h2 class="title">[Avatar] - shapes</h2>
        <div class="d-flex mb-48" style="gap: 24px">
            <!-- [Avatar] - shape: default -->
            <div class="avatar-container">
                <div class="avatar sm">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
            </div>
            <!-- [Avatar] - shape: rounded -->
            <div class="avatar-container">
                <div class="avatar sm rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
            </div>
        </div>

        <!-- [Avatar] - types -->
        <h2 class="title">[Avatar] - types</h2>
        <div class="d-flex mb-48" style="gap: 24px">
            <!-- [Avatar] - type: image -->
            <div class="avatar-container">
                <div class="avatar sm rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
            </div>
            <!-- [Avatar] - type: icon -->
            <div class="avatar-container">
                <div class="avatar sm rounded">
                    <div style="width: 18px; height: 18px; color: red">
                        <img src="/icons/academi.svg" alt="" />
                    </div>
                </div>
            </div>
            <!-- [Avatar] - type: number -->
            <div class="avatar-container">
                <a class="avatar sm rounded more" href="#">+99</a>
            </div>
            <!-- [Avatar] - type: initial -->
            <div class="avatar-container">
                <div class="avatar sm rounded initial">MJ</div>
            </div>
        </div>

        <!-- [Avatar] - Sizes -->
        <h2 class="title">[Avatar] - Sizes</h2>
        <div class="d-flex mb-48" style="gap: 24px">
            <!-- [Avatar] - Size: sm 40px -->
            <div class="avatar-container">
                <div class="avatar sm rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
            </div>
            <!-- [Avatar] - Size: md 56px -->
            <div class="avatar-container">
                <div class="avatar md rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
            </div>
            <!-- [Avatar] - Size: lg 72px -->
            <div class="avatar-container">
                <div class="avatar lg rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
            </div>
        </div>

        <!-- [Avatar] - Status -->
        <h2 class="title">[Avatar] - Status</h2>
        <div class="d-flex mb-48" style="gap: 24px">
            <!-- [Avatar] - Status: online -->
            <div class="avatar-container">
                <div class="avatar sm rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
                <span
                    class="avatar-container avatar-status status-online status-position-br-rounded"
                ></span>
            </div>
            <!-- [Avatar] - Status: busy -->
            <div class="avatar-container">
                <div class="avatar sm rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
                <span
                    class="avatar-container avatar-status status-busy status-position-br-rounded"
                ></span>
            </div>
            <!-- [Avatar] - Status: away -->
            <div class="avatar-container">
                <div class="avatar sm rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
                <span
                    class="avatar-container avatar-status status-away status-position-br-rounded"
                ></span>
            </div>
            <!-- [Avatar] - Status: offline -->
            <div class="avatar-container">
                <div class="avatar sm rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
                <span
                    class="avatar-container avatar-status status-offline status-position-br-rounded"
                ></span>
            </div>
        </div>

        <!-- [Avatar] - Status Position -->
        <h2 class="title">[Avatar] - Status Position</h2>
        <div class="d-flex mb-48" style="gap: 24px">
            <!-- [Avatar] - Status Position: top left (方形) -->
            <div class="avatar-container">
                <div class="avatar sm">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
                <span
                    class="avatar-container avatar-status status-online status-position-tl"
                ></span>
            </div>
            <!-- [Avatar] - Status Position: top left (圓形) -->
            <div class="avatar-container">
                <div class="avatar sm rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
                <span
                    class="avatar-container avatar-status status-online status-position-tl-rounded"
                ></span>
            </div>

            <!-- [Avatar] - Status Position: top right (方形) -->
            <div class="avatar-container">
                <div class="avatar sm">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
                <span
                    class="avatar-container avatar-status status-online status-position-tr"
                ></span>
            </div>
            <!-- [Avatar] - Status Position: top right (圓形) -->
            <div class="avatar-container">
                <div class="avatar sm rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
                <span
                    class="avatar-container avatar-status status-online status-position-tr-rounded"
                ></span>
            </div>

            <!-- [Avatar] - Status Position: button right (方形) -->
            <div class="avatar-container">
                <div class="avatar sm">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
                <span
                    class="avatar-container avatar-status status-online status-position-br"
                ></span>
            </div>
            <!-- [Avatar] - Status Position: button right (圓形) -->
            <div class="avatar-container">
                <div class="avatar sm rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
                <span
                    class="avatar-container avatar-status status-online status-position-br-rounded"
                ></span>
            </div>

            <!-- [Avatar] - Status Position: button left (方形) -->
            <div class="avatar-container">
                <div class="avatar sm">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
                <span
                    class="avatar-container avatar-status status-online status-position-bl"
                ></span>
            </div>
            <!-- [Avatar] - Status Position: button left (圓形) -->
            <div class="avatar-container">
                <div class="avatar sm rounded">
                    <img src="/images/avatar/avatar_01.jpg" alt="" />
                </div>
                <span
                    class="avatar-container avatar-status status-online status-position-bl-rounded"
                ></span>
            </div>
        </div>

        <!-- [Avatar] - Group -->
        <h2 class="title">[Avatar] - Group</h2>
        <div class="d-flex mb-48" style="gap: 24px">
            <!-- [Avatar] - Group: without number -->
            <div class="avatar-group">
                <div class="avatar-container">
                    <div class="avatar sm rounded">
                        <img src="/images/avatar/avatar_01.jpg" alt="" />
                    </div>
                </div>
                <div class="avatar-container">
                    <div class="avatar sm rounded">
                        <img src="/images/avatar/avatar_02.jpg" alt="" />
                    </div>
                </div>
                <div class="avatar-container">
                    <div class="avatar sm rounded">
                        <img src="/images/avatar/avatar_03.jpg" alt="" />
                    </div>
                </div>
                <div class="avatar-container">
                    <div class="avatar sm rounded">
                        <img src="/images/avatar/avatar_04.jpg" alt="" />
                    </div>
                </div>
            </div>

            <!-- [Avatar] - Group: with number -->
            <div class="avatar-group">
                <div class="avatar-container">
                    <div class="avatar sm rounded">
                        <img src="/images/avatar/avatar_01.jpg" alt="" />
                    </div>
                </div>
                <div class="avatar-container">
                    <div class="avatar sm rounded">
                        <img src="/images/avatar/avatar_02.jpg" alt="" />
                    </div>
                </div>
                <div class="avatar-container">
                    <div class="avatar sm rounded">
                        <img src="/images/avatar/avatar_03.jpg" alt="" />
                    </div>
                </div>
                <div class="avatar-container">
                    <a class="avatar sm rounded more" href="#">+99</a>
                </div>
            </div>
        </div>
    </body>
</html>
