<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AUO Radio</title>
        <link rel="stylesheet" href="/dist/main.min.css" />
        <style>
            .title {
                margin-bottom: 16px;
                letter-spacing: -0.02em;
                line-height: 32px;
                font-size: 24px;
                font-weight: 900;
            }
        </style>
    </head>
    <body class="p-40">
        <!-- [Avatar] -  -->
        <h2 class="title">[Radio] - checked</h2>
        <label for="radio01" class="radio__wrapper">
            <input
                class="radio__input"
                type="radio"
                name="radio"
                id="radio01"
            />
            <span class="radio__custom-circle"></span>
            <span>單選標題</span>
        </label>
        <br />
        <label for="radio02" class="radio__wrapper">
            <input
                class="radio__input"
                type="radio"
                name="radio"
                id="radio02"
            />
            <span class="radio__custom-circle">
                <img
                    rel="stylesheet"
                    src="../../icons/checkcbox/check_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg"
                />
            </span>
            <span>單選標題</span>
        </label>
    </body>
</html>
