<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AUO Title</title>
        <link rel="stylesheet" href="/dist/globals.min.css" />
        <style>
            .my-title {
                margin-bottom: 16px;
                letter-spacing: -0.02em;
                line-height: 32px;
                font-size: 24px;
                font-weight: 900;
            }
        </style>
    </head>
    <body style="padding: 40px">
        <!-- [Title] - Level-->
        <h2 class="my-title">[ Title ] - Level</h2>
        <div class="title title-primary title-level-1">標題文字 level-1</div>
        <div class="title title-primary title-level-2">標題文字 level-2</div>
        <div class="title title-primary title-level-3">標題文字 level-3</div>
        <div class="title title-primary title-level-4">標題文字 level-4</div>
        <div class="title title-primary title-level-5">標題文字 level-5</div>
        <div class="title title-primary title-level-6">標題文字 level-6</div>
        <div class="title title-primary title-level-0">標題文字 level-0</div>

        <!-- [Title] - Level-->
        <h2 class="my-title">[ Title ] - themeColor</h2>
        <div class="title title-primary title-level-5">標題文字</div>
        <div class="title title-secondary title-level-5">標題文字</div>
        <div class="title title-tertiary title-level-5">標題文字</div>
        <div class="title title-success title-level-5">標題文字</div>
        <div class="title title-warning title-level-5">標題文字</div>
        <div class="title title-error title-level-5">標題文字</div>
        <div class="title title-info title-level-5">標題文字</div>
    </body>
</html>
