<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AUO Toggle</title>
        <link rel="stylesheet" href="/dist/globals.min.css" />
        <style>
            .title {
                margin-bottom: 16px;
                letter-spacing: -0.02em;
                line-height: 32px;
                font-size: 24px;
                font-weight: 900;
            }
        </style>
    </head>
    <body style="padding: 40px">
        <!-- [Toggle] - On -->
        <h2 class="my-title">[Toggle] - On</h2>
        <div class="toggle toggle-success toggle-on">
            <div class="toggle-thumb toggle-thumb-on"></div>
            <label class="toggle-label toggle-label-on">on</label>
        </div>
        <!-- [Toggle] - Off -->
        <h2 class="my-title">[Toggle] - Off</h2>
        <div class="toggle toggle-success toggle-off">
            <div class="toggle-thumb toggle-thumb-off"></div>
            <label class="toggle-label toggle-label-off">off</label>
        </div>

        <!-- [Toggle] - Off (disabled) -->
        <h2 class="my-title">[Toggle] - Off (disabled)</h2>
        <div class="toggle toggle-success toggle-disable">
            <div class="toggle-thumb toggle-thumb-disable-off"></div>
            <label class="toggle-label toggle-label-off">off</label>
        </div>

        <!-- [Toggle] - On (disabled) -->
        <h2 class="my-title">[Toggle] - On (disabled)</h2>
        <div class="toggle toggle-success toggle-disable">
            <div class="toggle-thumb toggle-thumb-disable-on"></div>
            <label class="toggle-label toggle-label-on">on</label>
        </div>

        <!-- [Toggle] - themeColor -->
        <h2 class="my-title">[Toggle] - themeColor</h2>
        <div style="display: flex; gap: 24px">
            <div class="toggle toggle-primary toggle-on">
                <div class="toggle-thumb toggle-thumb-on"></div>
                <label class="toggle-label toggle-label-on">on</label>
            </div>
            <div class="toggle toggle-secondary toggle-on">
                <div class="toggle-thumb toggle-thumb-on"></div>
                <label class="toggle-label toggle-label-on">on</label>
            </div>
            <div class="toggle toggle-tertiary toggle-on">
                <div class="toggle-thumb toggle-thumb-on"></div>
                <label class="toggle-label toggle-label-on">on</label>
            </div>
            <div class="toggle toggle-success toggle-on">
                <div class="toggle-thumb toggle-thumb-on"></div>
                <label class="toggle-label toggle-label-on">on</label>
            </div>
            <div class="toggle toggle-warning toggle-on">
                <div class="toggle-thumb toggle-thumb-on"></div>
                <label class="toggle-label toggle-label-on">on</label>
            </div>
            <div class="toggle toggle-error toggle-on">
                <div class="toggle-thumb toggle-thumb-on"></div>
                <label class="toggle-label toggle-label-on">on</label>
            </div>
            <div class="toggle toggle-info toggle-on">
                <div class="toggle-thumb toggle-thumb-on"></div>
                <label class="toggle-label toggle-label-on">on</label>
            </div>
        </div>
    </body>
</html>
