<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AUO Radio</title>
        <link rel="stylesheet" href="/dist/globals.min.css" />
        <style>
            .title {
                margin-bottom: 16px;
                letter-spacing: -0.02em;
                line-height: 32px;
                font-size: 24px;
                font-weight: 900;
            }
        </style>
    </head>
    <body style="padding: 40px">
        <!-- [Radio] - direction column -->
        <h2 class="title">[Radio] - direction column</h2>
        <div class="radio-container radio-container-row">
            <label for="option1" class="radio"
                ><input
                    class="radio-input"
                    id="option1"
                    name="option"
                    type="radio"
                    value="option1"
                />
                <div class="radio-icon radio-unchecked-primary"></div>
                <span class="radio-text">選項一</span></label
            ><label for="option2" class="radio"
                ><input
                    class="radio-input"
                    id="option2"
                    name="option"
                    type="radio"
                    value="option2"
                />
                <div class="radio-icon radio-unchecked-primary"></div>
                <span class="radio-text">選項二</span></label
            ><label for="option3" class="radio"
                ><input
                    class="radio-input"
                    id="option3"
                    name="option"
                    type="radio"
                    value="option3"
                />
                <div class="radio-icon radio-checked-primary">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                    >
                        <path
                            d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                        ></path>
                    </svg>
                </div>
                <span class="radio-text">選項三</span></label
            >
        </div>

        <!-- [Radio] - direction row -->
        <h2 class="title">[Radio] - direction row</h2>
        <div class="radio-container radio-container-column">
            <label for="option1" class="radio"
                ><input
                    class="radio-input"
                    id="option1"
                    name="option"
                    type="radio"
                    value="option1"
                />
                <div class="radio-icon radio-unchecked-primary"></div>
                <span class="radio-text">選項一</span></label
            ><label for="option2" class="radio"
                ><input
                    class="radio-input"
                    id="option2"
                    name="option"
                    type="radio"
                    value="option2"
                />
                <div class="radio-icon radio-unchecked-primary"></div>
                <span class="radio-text">選項二</span></label
            ><label for="option3" class="radio"
                ><input
                    class="radio-input"
                    id="option3"
                    name="option"
                    type="radio"
                    value="option3"
                />
                <div class="radio-icon radio-checked-primary">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                    >
                        <path
                            d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                        ></path>
                    </svg>
                </div>
                <span class="radio-text">選項三</span></label
            >
        </div>
    </body>
</html>
