<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AUO Input</title>
        <link rel="stylesheet" href="/dist//globals.min.css" />
        <style>
            .title {
                margin-bottom: 16px;
                letter-spacing: -0.02em;
                line-height: 32px;
                font-size: 24px;
                font-weight: 900;
            }
        </style>
    </head>
    <body style="padding: 40px">
        <!-- [ Input ] - Level-->
        <h2 class="my-title">[ Input ] - Level</h2>
        <div class="input-container">
            <label class="input-label">input標題</label>
            <div class="input-group component-medium undefined">
                <div class="icon-medium">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                    >
                        <path
                            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
                        ></path>
                    </svg>
                </div>
                <input
                    class="input text-medium"
                    placeholder="請輸入帳號 ..."
                    value=""
                />
                <div class="icon-medium">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                    >
                        <path
                            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
                        ></path>
                    </svg>
                </div>
            </div>
            <small class="textarea-hint undefined"></small>
            <small class="textarea-hint textarea-hint-desc">sdfsdfasdf</small>
        </div>
    </body>
</html>
