<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AUO Input Basic</title>
        <link rel="stylesheet" href="/dist/main.min.css" />
        <style>
            .title {
                margin-bottom: 16px;
                letter-spacing: -0.02em;
                line-height: 32px;
                font-size: 24px;
                font-weight: 900;
            }
        </style>
    </head>
    <body class="p-40">
        <!-- [Input Basic] - Icon Position -->
        <h2 class="title">[Input Basic] - Style</h2>

        <div class="d-flex flex-column" style="gap: 16px">
            <div class="input__wrapper">
                <input
                    class="input__field input__field--md"
                    type="text"
                    placeholder="I am Basic Text Input"
                />
            </div>

            <div class="input__wrapper">
                <div class="input__icon-left" style="width: 20px; height: 20px">
                    <img src="../../icons/home.svg" alt="" />
                </div>
                <input
                    class="input__field input__field--md icon__pos-left"
                    type="text"
                    placeholder="I am Basic Text Input with Icon left"
                />
            </div>

            <div class="input__wrapper">
                <input
                    class="input__field input__field--md icon__pos-right"
                    type="text"
                    placeholder="I am Basic Text Input with Icon right"
                />
                <svg
                    class="input__icon-right"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                >
                    <path
                        fill="#888888"
                        d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h5.175q.4 0 .763.15t.637.425L12 6h8q.825 0 1.413.588T22 8v10q0 .825-.587 1.413T20 20zm0-2h16V8h-8.825l-2-2H4zm0 0V6z"
                    />
                </svg>
            </div>
        </div>

        <!-- [Input Basic] - Size -->
        <h2 class="title">[Input Basic] - Size</h2>

        <div class="d-flex flex-column" style="gap: 16px">
            <div class="input__wrapper">
                <input
                    class="input__field input__field--sm"
                    type="text"
                    placeholder="I am Text Input sm"
                />
            </div>

            <div class="input__wrapper">
                <input
                    class="input__field input__field--md"
                    type="text"
                    placeholder="I am Text Input md"
                />
            </div>

            <div class="input__wrapper">
                <input
                    class="input__field input__field--lg"
                    type="text"
                    placeholder="I am Text Input lg"
                />
            </div>

            <div class="input__wrapper">
                <svg
                    class="input__icon-left"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                >
                    <path
                        fill="#888888"
                        d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h5.175q.4 0 .763.15t.637.425L12 6h8q.825 0 1.413.588T22 8v10q0 .825-.587 1.413T20 20zm0-2h16V8h-8.825l-2-2H4zm0 0V6z"
                    />
                </svg>
                <input
                    class="input__field input__field--sm icon__pos-left"
                    type="text"
                    placeholder="I am Text Input sm"
                />
            </div>

            <div class="input__wrapper">
                <svg
                    class="input__icon-left"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                >
                    <path
                        fill="#888888"
                        d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h5.175q.4 0 .763.15t.637.425L12 6h8q.825 0 1.413.588T22 8v10q0 .825-.587 1.413T20 20zm0-2h16V8h-8.825l-2-2H4zm0 0V6z"
                    />
                </svg>
                <input
                    class="input__field input__field--md icon__pos-left"
                    type="text"
                    placeholder="I am Text Input md"
                />
            </div>

            <div class="input__wrapper">
                <svg
                    class="input__icon-left"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                >
                    <path
                        fill="#888888"
                        d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h5.175q.4 0 .763.15t.637.425L12 6h8q.825 0 1.413.588T22 8v10q0 .825-.587 1.413T20 20zm0-2h16V8h-8.825l-2-2H4zm0 0V6z"
                    />
                </svg>
                <input
                    class="input__field input__field--lg icon__pos-left"
                    type="text"
                    placeholder="I am Text Input lg"
                />
            </div>
        </div>

        <!-- [Input Date] - 日期 -->
        <h2 class="title">[Input Date] - 日期</h2>

        <div class="input__wrapper">
            <div class="input__icon-right" style="width: 20px; height: 20px">
                <img src="../../icons/calendar.svg" alt="" />
            </div>
            <input
                class="input__field input__field--md icon__pos-right"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"
                placeholder="請選擇日期"
            />
        </div>

        <!-- [Input Tel] - 電話 -->
        <h2 class="title">[Input Tel] - 電話</h2>

        <div class="input__wrapper">
            <div class="input__icon-right" style="width: 20px; height: 20px">
                <img src="../../icons/call.svg" alt="" />
            </div>
            <input
                class="input__field input__field--md icon__pos-right"
                type="tel"
                placeholder="請輸入電話"
            />
        </div>

        <!-- [Input Password] - 密碼 -->
        <h2 class="title">[Input Password] - 密碼</h2>

        <div class="input__wrapper">
            <div class="input__icon-right" style="width: 20px; height: 20px">
                <img
                    id="visibilityIcon"
                    src="../../icons/visibility.svg"
                    alt=""
                />
            </div>

            <input
                class="input__field input__field--md icon__pos-right"
                type="password"
                placeholder="請輸密碼"
                id="passwordInput"
            />
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const visibilityIcon =
                    document.getElementById("visibilityIcon");
                const passwordInput = document.getElementById("passwordInput");
                let isPasswordVisible = false;

                visibilityIcon.addEventListener("click", function () {
                    if (isPasswordVisible) {
                        passwordInput.type = "password";
                        visibilityIcon.src = "../../icons/visibility.svg";
                    } else {
                        passwordInput.type = "text";
                        visibilityIcon.src = "../../icons/visibility_off.svg";
                    }
                    isPasswordVisible = !isPasswordVisible;
                });
            });
        </script>
    </body>
</html>
